---
import PDF from "../../components/PDF";
import BaseLayout from "../../layouts/BaseLayout.astro";
import link from "../../assets/link.svg?raw";

---

<BaseLayout>
    <a
        href="https://raw.githubusercontent.com/khalidbelhadj/cv/main/build/Khalid-Belhadj-CV.pdf"
        class="bg-border hover:bg-border/70 rounded-md p-3 flex items-center justify-center transition-colors"
    >
    <div class="rotate-[135deg]">
            <Fragment set:html={link} />
    </div>
        Download
    </a>
    <PDF client:only="react" />
</BaseLayout>