---
import "../styles/globals.css";

import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

// const projects = await getCollection("projects");
// // @ts-ignore
// projects.sort((a, b) => new Date(b.data.date) - new Date(a.data.date));

type GHProject = {
  author: string;
  name: string;
  description: string;
  language: string;
  stars: number;
  forks: number;
};
const res = await fetch("https://pinned.berrysauce.dev/get/khalidbelhadj");
const pinned = (await res.json()) as GHProject[];
---

<Layout>
  <Card class="flex text-sm gap-2 items-center">
    <a
      class="bg-border py-1 px-3 rounded-lg flex items-center hover:bg-border/70 hover:cursor-pointer transition-colors text-foreground/80 hover:text-foreground/70"
      href="https://github.com/khalidbelhadj/"
      target="_blank"
    >
      GitHub
    </a>
    <a
      class="bg-border py-1 px-3 rounded-lg flex items-center hover:bg-border/70 hover:cursor-pointer transition-colors text-foreground/80 hover:text-foreground/70"
      href="https://www.linkedin.com/in/khalidbelhadj/"
      target="_blank"
    >
      LinkedIn
    </a>
  </Card>
  <Card class="flex flex-col gap-5">
    <h2 class="text-foreground/50">Projects</h2>
    {
      pinned.map((project) => (
        <div class="flex flex-col gap-2">
          <a
            target="_blank"
            href={`https://github.com/${project.author}/${project.name}`}
            class="hover:text-foreground/70 transition-colors truncate flex flex-col gap-1"
          >
            <div class="flex gap-2 items-center">
              <div class="truncate">{project.name}</div>
              <div class="flex-grow bg-border h-[0.1rem] rounded-full min-w-5" />
              <div class="text-foreground/40">{project.language}</div>
            </div>
          </a>
        </div>
      ))
    }
  </Card>
  <Card>
    <h2 class="text-foreground/50">
      Posts <span class="italic text-foreground/40">(Maybe some day...)</span>
    </h2>
  </Card>
</Layout>
