---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
console.log(frontmatter);
---

<BaseLayout>
  <h1 class="pt-10 text-lg font-semibold">{frontmatter.}</h1>
  <hr class="my-5" />
  <article class="prose !max-w-full">
    <slot />
  </article>
</BaseLayout>
