---
// Render the first image as a background image before client load

import ImageCarouselHelper from "./ImageCarouselHelper.tsx";

type Props = {
  images: string[];
};

const { images } = Astro.props;
---

<div
  class="relative flex flex-col justify-end w-full h-full transition-opacity bg-cover bg-center"
  style={{
    backgroundImage: `url(${images[0]})`,
  }}
>
  <ImageCarouselHelper client:only="react" images={images} />
</div>
