---
import { render } from "astro:content";

const { post } = Astro.props;

const { Content } = await render(post);
console.log(post);
---

<div
  class="group h-56 max-h-24 relative overflow-hidden flex flex-col gap-2 hover:cursor-pointer"
>
  <!-- Header -->
  <div class="flex flex-col gap-1">
    <span class="font-medium group-hover:underline">
      {post.data.title}
    </span>
    <span class="text-foreground/50 text-sm">
      {
        post.data.date.toLocaleDateString("en-UK", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </span>
  </div>

  <!-- Content preview -->
  <div
    class="text-foreground/75 prose prose-sm max-w-full max-h-24 overflow-hidden"
  >
    <Content />
  </div>

  <!-- Background gradient -->
  <a
    class="w-full h-24 bg-gradient-to-t to-75% from-background absolute inset-0 hover:to-50%"
    href={`/posts/${post.slug}`}
  >
  </a>
</div>
