---
import { getCollection } from "astro:content";
import Card from "../../components/Card.astro";
import ImageCarousel from "../../components/ImageCarousel.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const projects = await getCollection("projects");
---

<BaseLayout>
  {
    projects.map((project) => (
      <Card class="flex flex-col gap-5">
        <a target="_blank" href={project.data.link}>
          {project.data.title}
        </a>
        <p class="text-foreground/60">{project.data.description}</p>
        <div class="bg-foreground/10 w-full h-[25rem] overflow-clip">
          <ImageCarousel images={project.data.images.map((img) => img.src)} />
        </div>
      </Card>
    ))
  }
</BaseLayout>
